importFrom(graphics, plot)
exportClasses(motifMatrix, motif, pfm, ppm, pwm, JASPAR)
exportMethods(motif.data, motif.alphabet, background, bg, pfm, ppm, pwm, ic, max.ic, pseudocount, getMatrixById, getMatrixByName, getAllMatrices, getMetadataFromID)

